body {
    background: #F3F5FC;
}

.logo-a {
    padding: 2.5em 0 0 2.5em;
    color: #0A3871;
}

.titulo {
    text-align: center;
    color: #0A3871;
    font-size: 4em;
    font-weight: bold;
    text-decoration: underline;
}

.campo {

    display: grid;
    /* align-items: center; */
    margin-top: 3em;
    border: none;
    grid-column: 1;
    grid-row: 2;
}

.text-box {

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 619px;
}

.rectangulo {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.area-texto {

    /* Ingrese el texto aqui */

    background: transparent;
    border-radius: 0.2em;
    border: 0.05em solid #0A3871;
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    outline: none; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;
}

.munieco {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
}