body {
    background: #F3F5FC;
}

.logo-a {
    padding: 2.5em 0 0 2.5em;
    color: #0A3871;
}

.titulo {
    text-align: center;
    color: #0A3871;
    font-size: 4em;
    font-weight: bold;
    text-decoration: underline;
}

.campo {
    display: grid;
    /* align-items: center; */
    margin-top: 3em;
    border: none;
    grid-column: 1;
    grid-row: 2;
}

.area-texto {
    background: transparent;
    border: none;
    grid-column: 1;
    position: relative;
    top: 1em;
    margin-left: 3em;
}

.area-texto:focus {
    outline: none;
}

.rectangulo {
    float: right;
    margin-right: 0;
    grid-column: 2;
    position: relative;
    z-index: -1;
}

.munieco {
    float: right;
    /* margin-right: 0;*/
    grid-column: 2;
    position: relative;
    z-index: 1;
    display: block;
}
